*{
    font-size: 20px;    
}
.gridContainer{
    display: grid;
    grid-template-columns: 1fr;
}


div>div{
    padding: 20px;
}

.header {
    height: 100px;
    background-image: url(http://www.csszengarden.com/214/huntington.jpg);
    background-size: cover;
}

.footer{
    height: 100px;
}

.social{
    height: 200px;
}

@media (min-width: 1130px){
    .gridContainer{
        grid-template-columns: 2fr 1fr;
    }

    .left {
        grid-column: 1/2;
    }

    .right{
        grid-column: 2/3;
    }

    .authors{
        grid-row: 2/3;
    }

    .links{
        grid-row: 3/4;
    }
}