* {
    font-size: 20px;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr;
}


div>div {
    padding: 20px;
}

.header {
    height: 100px;
    background-image: url(http://www.csszengarden.com/214/huntington.jpg);
    background-size: auto auto auto cover;
    text-align: center;
}

.right {
    background-color: rgba(138, 188, 159, 0.5);
    background-image: url(http://www.csszengarden.com/214/contours-opaque.png), 
    url(http://www.csszengarden.com/214/gridlines-opaque.png), 
    url(http://www.csszengarden.com/214/bamboo.png);

}

.footer {
    height: 100px;
    background-color: black;
}

.social {
    height: 200px;
}

@media (min-width: 1130px) {
    .gridContainer {
        grid-template-columns: 2fr 1fr;
    }

    .left {
        grid-column: 1/2;
    }

    .right {
        grid-column: 2/3;
        
    }

    .authors {
        grid-row: 2/3;
    }

    .links {
        grid-row: 3/4;
    }
}