body {
    background-color: #2CB84B;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: white;
}

section {
    color: white;
}

#divContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.strikened {
    text-decoration: line-through;
}

/* .nostrike {
    text-decoration: none;
}
 */
