#homeDiv{
    /* position: absolute; */
    margin-top: 8.8%;
    display: flex;
    justify-content: center;
    color: black;
}

.title {
    font-family: 'Merriweather', serif;

}

img{
    height: 250px;
    width: 350px;
    border-radius: 250px;
}
