body{
    background-color: blue;
    font-family: 'Staatliches', cursive;
    margin: 0;
}

#header{
    font-size: 70px;
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 100px;
    width: 100vw;
    
}


.baddiesLaidOut{
     display: grid;
     grid-template-columns: repeat(3, 1fr)
}


img{
    width: 200px;
    height: 200px;
    padding: 20px;
}


#submitButton{
  margin: auto;
}   
#result{
    text-align: center;
}


#contactInfo{
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}


  