.headerDiv {
    background-color: black;
    color: red;   
    /* margin-top: 0px; */
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.godDad {
    height: 125px;
}


.leTitle {
    margin-top: auto; 
    margin-bottom: auto;
}